<div class="background responsive-padding">
  <h1>Qwiz</h1>
  <div class="container">

    
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile class="new-room-tile" colspan="2" rowspan="2" (click)="newroom()">
        New
      </mat-grid-tile>

      <mat-grid-tile class="join-room-tile" colspan="2" rowspan="4">
        <form [formGroup]="roomForm" (ngSubmit)="joinroom(roomForm.value)" class="block-inputs"> 
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Join Code" formControlName="joinCode">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Name" formControlName="handle">
            </mat-form-field>
            <br />
            <button mat-raised-button color="accent">Join</button>
          </div>
        </form> 
      </mat-grid-tile>

      <mat-grid-tile class="login-tile" colspan="2" rowspan="2">
        Login
      </mat-grid-tile>

      <mat-grid-tile class="about-tile" colspan="4" rowspan="1">
        About
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>