<div class="background responsive-padding">
  <div class="container">
    <md-card>
      <md-card-title>Outcome</md-card-title>
      <md-card-content>
        <p><strong>Question: </strong>{{question}}</p>
        <p><strong>Chosen Answer: </strong>{{chosenAnswer}}</p>
        <p><strong>Correct Answer: </strong>{{correctAnswer}}</p>
        <p>People still to answer</p>

      <button md-button (click)="nextQuestion()">Next Question</button>

      </md-card-content>
    </md-card>
  </div>
</div>